# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pkl~
*.log
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Model artifacts
*.h5
*.cbm

# Data
/datasets/
/cataract-dataset/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cache
.cache/